.card
   max-width: 400px
   margin: 20px

.d-flex
  display: flex

.justify-content-center
  justify-content: center

.justify-content-end
  justify-content: flex-end

.like-dislike-container
  margin: 0

.card-content
  margin-left: 1rem
